<div class="main">
  <div class="container">
    <div class="container1">
      <div class="arrows"></div>
      <div class="homepage"></div>
      <div class="history"></div>

    </div>
    <div class="container3" *ngIf="router.url=='/hdpeinput'">
      <span class="inputsname">Common Parameters</span>
      <span class="inputsname">Main Parameters</span>
      <span class="inputsname">Other Parameters</span>
    </div>
    <div class="container2">
      <div class="close"></div>

    </div>

  </div>
</div>