<div class="container">
  <div class="content">
    <div class="workable">
      <div class="top">
        <div class="runtype" (click)="router.navigate([ 'gradesequence' ]);"
          style="display:flex; justify-content:center; align-items:center"> Grade Sequence Optimization </div>
        <div class="seperator-v"></div>
        <div class="runtype" style="display:flex; justify-content:center; align-items:center"> Grade Market Optimization
        </div>
      </div>
      <div class="mid">
        <div class="seperator-h"></div>
      </div>
      <div class="bottom">
        <div class="additions"> <i class="material-icons"
            style="color: rgba(37, 29, 8, 0.685); cursor: pointer; transform: scale(2);">
            add
          </i></div>
      </div>
    </div>

  </div>
</div>