<div class="container">
  <div class="content">
    <div class="workable">
      <div class="dropdown">
        <div class="dropdown-content-others"></div>
        <div class="dropdown-content-main"></div>
        <div class="dropdown-content-others"></div>
      </div>

      <div class="inputcontainer">
        <ng-container [ngSwitch]="currentinput">
          <app-ncuparameters *ngSwitchCase="1"></app-ncuparameters>
          <app-gradeactivation *ngSwitchCase="2"></app-gradeactivation>
          <app-modelvariable *ngSwitchCase="3"></app-modelvariable>
          <app-demandstock *ngSwitchCase="4"></app-demandstock>
          <app-demandpattern *ngSwitchCase="5"></app-demandpattern>
          <app-contribution *ngSwitchCase="6"></app-contribution>
          <app-gmdemand *ngSwitchCase="7"></app-gmdemand>
          <app-executionparameters *ngSwitchCase="8"></app-executionparameters>
          <app-minimumsales *ngSwitchCase="9"></app-minimumsales>
          <app-maximumsales *ngSwitchCase="10"></app-maximumsales>
          <app-restartparameters *ngSwitchCase="11"></app-restartparameters>
          <app-lastgraderun *ngSwitchCase="12"></app-lastgraderun>
          <app-transitions *ngSwitchCase="13"></app-transitions>
          <app-tph *ngSwitchCase="14"></app-tph>
        </ng-container>

      </div>
      <div class="button" (click)="router.navigate([ 'hdpecurrentoutput' ]);"></div>
    </div>
  </div>
  <div class="actions">
    <div class="delete"></div>
    <div class="move" (click)="nextinput()"></div>
    <div class="move" (click)="currentinput = currentinput+1;"></div>
  </div>
</div>